@charset "utf-8";
/* CSS Document */

/*section*/
section{
	width: 80%;
	margin: 0px auto;
}

.left, .right{
	box-sizing: border-box;
	float: left;
	padding: 10px;
	opacity: 1;

	-webkit-animation-name: roll;/*Safari 4.0 - 8.0*/
	animation-name: roll;
	-webkit-animation-duration: 2s;/*Safari 4.0 - 8.0*/
	animation-duration: 2s;
	-webkit-animation-iteration-count: 1;/*Safari 4.0 - 8.0*/
	animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;/*Safari 4.0 - 8.0*/
	animation-timing-function: ease-in-out;
}


@keyframes roll{
	from {opacity: 0; transform: rotate(-180deg);}
	to {opacity: 1; transform: rotate(0deg);}
}

.right{
	width: 50%;
	text-align: center;
}

.right img{
	width: 80%;
	height: 80%;
}

.left{
	width: 50%;
	margin-top: 150px;
	text-align:center;
}

.left p, .left h1{
	padding: 0;
	margin: 0;
}

.left h1{
	font-size: 28pt;
	padding-bottom: 20px;
}
